<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title}}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{%else%}{{ site.description }}{%endif%}">
    <meta name="keywords"  content="{{ site.keywords }}">
    <link rel="stylesheet" href="{{ 'assets/css/style.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ 'assets/css/normalize.css' | prepend: site.baseurl }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | prepend: site.baseurl }}">
  </head>
  